@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Contacts</h2>
        <ul>
            @foreach(var contact in (List<Contact>) ViewData["contacts"]) 
            {
                <li><b>Name:</b> @contact.Name, <b>Email</b>: @contact.Email, <b>Phone</b>: @contact.Phone</li>
            }
        </ul>
    </div>
</div>
